@using MVCHelloWorldTeam1.Models

@{
    ViewBag.Title = "Index";
}
@model WarehouseAddProductModel

<link rel="stylesheet" type="text/css" href="~/Content/MyStyle.css"/>

<h2>Edit</h2>
@using (Html.BeginForm("Index", "Warehouse", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <table>
        <thead>
           <tr>
               <th>Name</th>
               <th>Category</th>
               <th>Price</th>
               <th>Quantity</th>
               <th>Code</th>
               <th colspan="2">Action Buttons</th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { })<br/>        
                </td>
                    
                
                <td> 
                    @Html.DropDownListFor(m => m.CategoryId, Model.Categories)<br />
                </td>
                
                <td> 
                    @Html.TextBoxFor(m => m.Price, new { })<br />
                </td> 
                <td> 
                    @Html.TextBoxFor(m => m.Quantity, new { })<br />
                </td>
                <td>
                     @Html.TextBoxFor(m => m.Code, new {  })<br/>
                </td>
                <td> <input class="button-dd-clear" type="submit" value="Add" /> </td>           
                <td> <input class="button-dd-clear" type="reset" value="Clear" /> </td>           
            </tr>
        </tbody>
    </table><br />
    @Html.ValidationSummary("", new { @class = "text-error" })
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

